<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="wit.hmj.onekeyrepair">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="b5fef2cd1d143d09dcc6d490cce9adf3" />

        <activity
            android:name=".MainActivity"
            android:icon="@mipmap/icon"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".FeedBackActivity" />
        <activity
            android:name=".StartActivity"
            android:icon="@mipmap/icon"
            android:theme="@style/ThemeSplash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onekeyrepair.LocationActivity" />
        <activity
            android:name=".onekeyrepair.OneKeyRepairActivity"
            android:windowSoftInputMode="stateHidden|stateUnchanged" />
        <activity android:name=".onekeyrepair.PhotoviewActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".classificationrepair.ClassificationRepairActivity" />
        <activity android:name=".my.MyActivity" />
        <activity android:name=".my.RegisterActivity" />
        <activity android:name=".my.RegisterCheckSuccessActivity" />
        <activity android:name=".my.LoginActivity" />
        <activity android:name=".my.PersonInfoActivity" />
        <activity android:name=".my.ModifyNameActivity" />
        <activity android:name=".my.ModifyPassWordActivity" />
        <activity android:name=".my.AboutActivity" />
        <activity android:name=".my.SettingActivity" />
        <activity android:name=".my.NotificationActivity" />
        <activity android:name=".my.MyFeedBackActivity" />
        <activity android:name=".my.MyRepairActivity"></activity>
        <activity android:name=".my.RepairDetailsActivity">

        </activity>
    </application>

</manifest>