<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OneKeyRepairApiWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>FeedBack_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.FeedBack_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Login_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyName_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.ModifyName_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ModifyPassword_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.ModifyPassword_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyFeedBack_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.MyFeedBack_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MyRepair_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.MyRepair_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PersonInfo_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.PersonInfo_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register_1_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Register_1_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register_2_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Register_2_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register_3_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Register_3_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Repair_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Repair_Servlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Evaluation_Servlet</servlet-name>
    <servlet-class>wit.hmj.onekeyrepair.web.Evaluation_Servlet</servlet-class>
  </servlet>
</web-app>